{
    lib_dirs, ["apps/"]
}.

{
    sub_dirs,
    [
        "apps/jdlib",
        "apps/perfan"
    ]
}.

{
    deps_dir, "deps"
}.

{
    deps,
    [
        {
            jdlib_currying, ".*",
            {git, "https://github.com/joydeveloping/jderlang-jdlib_currying.git", {branch, master}}
        },
        {
            jdlib_inflists, ".*",
            {git, "https://github.com/joydeveloping/jderlang-jdlib_inflists.git", {branch, master}}
        }
    ]
}.

{
    erl_opts,
    [
        debug_info,
        fail_on_warning,
        {i, "../jdlib/include"}
    ]
}.

